@use "../partials" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .calendar {
    width: 100%;
  }

  .event {
    background-color: $primary-color;
    min-height: 500px;

    div {
      height: 100%;
    }
  }
}
