@use "../partials" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .calendar {
    width: 100%;
  }

  .event {
    background-color: $primary-color;
    min-height: 500px;
  }
}

.container:has(.calendar [data-view="row"]) {
  flex-direction: row;
  align-items: stretch;

  .calendar {
    flex: 2;
  }

  .event {
    flex: 1;
    min-height: 720px;
  }
}
